
var getTaskStatus = function(task, openid) {
    switch(task.status) {
        case 0:
            return openid === task.toOpenId ? "等待您接受" : "等待对方接受";
        case 1:
            return openid === task.toOpenId ? "您进行中" : "对方进行中";
        default:
            return "";
    }
}

module.exports.getTaskStatus = getTaskStatus;